// App break points
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// Variable file
$boldRed: #ef3636;
$black: #000;
$blue: #1e73be;
$gray: #d6d6d6;
$green: #81d742;
$brown: #dd9933;
$purple: #8224e3;
$yellow: #eeee22;
$pink: #df3d8c;
