.mobile-navigation {
  padding: 10px;
  display: none;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;

  svg {
    font-size: 30px;
    cursor: pointer;
  }

  .logo {
    h1 {
      font-family: "Poppins", sans-serif;
    }
  }

  .cart-info {
    svg {
      width: 30px;
      height: 30px;
    }
  }
}

@media (max-width: 1023px) {
  .mobile-navigation {
    display: flex;
  }
}
