.cart-page-wrapper {
  margin: 40px auto;

  .cart-page-content {
    h3 {
      text-transform: uppercase;
      margin-bottom: 20px;

      span {
        font-size: 14px;
        color: gray;
        margin-left: 10px;
        font-weight: 300;
      }
    }
  }

  .shopping-cart-table {
    background-color: #fafafa;
    padding: 30px 20px;

    table {
      border-collapse: collapse;
      width: 100%;
      font-size: 14px;
    }

    td,
    th {
      text-align: left;
      padding: 10px 20px;
    }

    thead {
      text-transform: uppercase;
    }

    tbody {
      background-color: #fff;
      text-align: center;
    }

    tr {
      .product-preview {
        display: flex;

        img {
          display: block;
          width: 100px;
          height: 100px;
          border: 2px solid #ececec;
          margin-right: 15px;
        }

        .product-quick-info {
          display: flex;
          flex-direction: column;

          .product-category {
            text-transform: uppercase;
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 5px;
          }

          .product-name {
            font-size: 12px;
            color: #000;

            &:hover {
              color: $boldRed;
            }
          }
        }
      }

      .product-quantity {
        border: 1px solid #cbcbcb;
        width: 150px;
        display: flex;

        button {
          all: unset;
          cursor: pointer;
          padding: 7px 11px;
        }

        button:first-of-type {
          border-right: 1px solid #cbcbcb;
        }
        button:last-of-type {
          border-left: 1px solid #cbcbcb;
        }

        input {
          width: 100%;
          outline: none;
          border: none;
          text-align: center;
        }
      }

      .remove-item {
        color: red;
        font-size: 16px;
        cursor: pointer;
      }
    }
  }

  .proceed-to-checkout {
    margin: 20px 0;
    padding: 20px;
    background-color: #fafafa;
    display: flex;
    width: 50%;
    flex-direction: column;

    .proceed-to-checkout-list {
      background-color: #fff;
      width: 100%;

      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #ececec;
        padding: 15px 10px;
        font-weight: 500;
        font-size: 14px;

        span:first-of-type {
          text-transform: uppercase;
          font-size: 12px;
          font-weight: bold;
        }

        a {
          color: $boldRed;
          font-size: 12px;
        }
      }
    }

    .proceed-to-checkout-link {
      @include customeBtn(15px 10px, 250px, $boldRed, #fff);
      font-weight: bold;
      text-transform: uppercase;
      cursor: pointer;
      margin-top: 15px;
      font-size: 0.7rem;
    }
  }
}

@media screen and(max-width: $breakpoint-lg) {
  .cart-page-wrapper {
    .proceed-to-checkout {
      width: 100% !important;
    }
    .product-quantity {
      flex-direction: column !important;
      text-align: center;
      width: 100px !important;

      input {
        padding: 10px 0;
      }

      button:first-of-type {
        border: none !important;
        border-bottom: 1px solid #cbcbcb !important;
      }
      button:last-of-type {
        border: none !important;
        border-top: 1px solid #cbcbcb !important;
      }
    }
  }
}

@media screen and(max-width: $breakpoint-sm) {
  .cart-page-wrapper {
    thead {
      display: none !important;
    }

    tbody {
      tr {
        display: flex !important;
        flex-direction: column !important;
        align-items: center;
      }
    }
  }
}
