#create-account-form {
  margin: 40px 0;
  font-size: 0.7rem;
  width: 80%;

  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    outline: none;
    border: 1px solid #ebebeb;
  }

  .registerbtn {
    background-color: $boldRed;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 300px;
    opacity: 0.9;
  }

  .registerbtn:hover {
    opacity: 1;
  }

  a {
    color: red;
  }

  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }
}
